html {
    box-sizing: border-box;
    font-family: monospace;
}

body { 
    margin: 15%;
}

header {
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    display: block;
}

h1 {
    text-align: left;
    margin: 20px auto;
}

p {
    font-size: 15px;
    margin: 2% 2%;
}

.container {
    margin: 10px auto;
}

.container2 {
    width: 100%;
    margin: 0 auto;
    
}

.container .colour {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-weight: 900;
    font-size: large;
    color: white;
    min-height: 100px;
    text-align: center;
    min-width: 100px;
    max-width: 200px;
    margin: 0 0 10px 0;
}

.container .description {
    width: 100%;
    font-weight: 900;
    min-height: 100px;
    text-align: left;
    margin-bottom: 10px;
}

.container .font {
    display: inline-block;
}

.navy {
    background-color: #131252ed;
    margin: 0 2%;
}

.orange {
    background-color: #ef9e0beb;
    margin: 0 2%;
}

.gray {
    background-color: #5f5d5dc7;
    margin: 0 2%;
}

.black {
    background-color: #020202cf;
    margin: 0 2%;
}

#anonymouspro {
    font-family: "anonymous pro", monospace;
    margin: 0 2%;
}

#comicneue {
    font-family: 'Comic Neue', cursive;
    margin: 0 2%;
}

#robotocondensed {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 2%;
}

#externallink {
    font-weight: bold;
    color: #ef9e0beb;
    margin: 0 2%;
}

#internallink {
    font-weight: bold;
    color: #131252ed;
    margin: 0 2%;
}

.light {
    font-weight: lighter;
}

.lightitalic {
    font-weight: lighter;
    font-style: italic;
}
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.bolditalic {
    font-weight: bold;
    font-style: italic;
}